
.red{
	color: red;
}
.black{
	color: black;
}

#content{
	background: #C9C9C9;
	width: 500px;
	font-size: 24px;
	color: #fff;
	overflow: hidden;
	position: relative;
}
#scrollContent{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}